@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Gym Management</h1>
    
    <img src="~/images/gym-home-img.jpg" alt="Gym Home Image" class="gym-home-img">
</div>
